* {
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather", serif;
    font-size: 18px;
  }
  
.head{
    background-color: grey;
    height: 210px;
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: dotted 4px orange;
    margin-left: auto;
    margin-right: auto;
    display:block;
    top: 15px;
    position: relative;
}

.name{
    background-color: orange;
    margin: 0px;
    margin-left: 25%;
    margin-right:25%;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    bottom: 38px;
}
.nameBar{
    position: relative;
    padding-top: 30px;
    bottom: 14%;
 }
 .whiteStripe{ 
     height: 25px;
     width: 100%;
     background-color: white;
 }
.contact{
    text-align: center;
   
}
.table1{
    border-right: 1px solid black;
}
.td1{
    width: 50%;
}

.td2{
    padding-left: 60px;
    font-size: 20px;
    
}
.margin{
   margin-left: 30px;
}

.icon-border{
    border-radius: 50%;
    border: dotted 6px orange;
 }

 @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color:gray;
      border-radius: 20%;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: orange;
      margin-top: -1px;
      border-radius: 20%;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background:white;
      box-shadow: -80px 0 0 80px orange;
      border-radius: 20%;
    }


}

.slider{
  padding-left: 60px;
  margin-left: 30px;
}
.slider1{
    padding-left: 60px;
    margin-left: 310px;
}

.education{
    padding-left: 50px;
}
.education1{
    padding-right: 20px;
}
.title{
    font-size: 30px;
}